@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JejuMyeongjo:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jomhuria:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-jomhuria: Jomhuria;
  --font-jejumyeongjo: JejuMyeongjo;
  --font-italiana: Italiana;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-xs: 12px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-gainsboro: rgba(217, 217, 217, 0.3);
}
